:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background: radial-gradient(
      circle at top,
      rgba(183, 223, 250, 0.98),
      rgba(207, 233, 255, 0.87)
    ),
    url('Cola.png');
  background-repeat: repeat;
  min-height: 110rem;
  margin: 0;
}

header {
  text-align: center;
}

header img {
  width: 36rem;
  object-fit: contain;
  margin: 2rem auto 1rem auto;
  filter: drop-shadow(0 0 8px rgba(207, 233, 255, 0.4));
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

#card {
  width: 6.5rem;
  height: 6.5rem;
  background-color: white;
}

#card-front {
  width: 100%;
  height: 100%;
}

#game-container {
  max-width: 40rem;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 6px;
  background-color: #9ab5cc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  position: relative;
}

#game-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
  padding: 0;
  flex-direction: column;
}

#game-board ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

#game-board button {
  width: 7rem;
  height: 7rem;
  border: none;
  background: white;
  color: black;
  cursor: pointer;
  padding: 0.5rem;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
}

li img {
  max-width: 80px;
  max-height: 80px;
}

#game-mode {
  display: flex;
  gap: 2rem;
}

#game-mode label {
  cursor: pointer;
  font-size: 1.1rem;
}

#game-mode input {
  margin: .5rem;
  accent-color: #fcd256;
}

#game-over, #game-start {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(40, 38, 23, 0.95);
  animation: pop-in 0.5s cubic-bezier(0.68, -0.55, 0.65, 0.52) forwards;
}

#game-over h2, #game-start h2 {
  font-family: 'Caprasimo', cursive;
  font-size: 4rem;
  text-align: center;
  color: #fcd256;
  margin: 0;
}

#game-over p, #game-start p {
  font-size: 2rem;
  text-align: center;
  color: #e1dec7;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

#game-over button, #game-start button {
  display: block;
  margin: 2rem auto 0 auto;
  font-size: 1.5rem;
  background: none;
  border: 2px solid #fcd256;
  color: #fcd256;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s, color 0.2s;
  box-shadow: 0 0 8px rgba(255, 187, 0, 0.4);
}

#game-over button:hover, #game-start button:hover {
  background: #fcd256;
  color: #3f3b00;
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(255, 187, 0, 0.8);
}

#game-restart {
  display: flex;
  gap: 2rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
